* { 
    font-family: Quicksand;
    text-decoration: none;
}

                    /* ------------ Header ------------ */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 100;
    max-width: 1368px;
}

.header__navigation-container {
    display: none;
}

.header__search-input {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    padding: 16px 8px;
}

.header__menu-logo {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header__menu-logo button {
    padding: 0;
    border: none;
    background: #fff;
}
.header__menu-logo a {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.44px;
}

.header__button-container {
    display: flex;
    gap: 16px;
}

.header__button-container button {
    border-radius: 4px;
    background: #0F8277;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    color: #eee;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%; 
}

.header__button-container .header__log-in-button {
    background: #fff;
    color: #0F8277;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%; 
}

.header__magnifying-buttons-container {
    display: flex;
    gap: 32px;
}

.header__magnifying-button {
    display: none;
} 

.header__explore-button {
    display: none;
}

.header__menu-list {
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 7px 40px 8px;
    transition: .3s ease;
    transform: translateX(-100%);
    z-index: 101;
}

.header__close-button-logo {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header__list-menu-upper {
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}

.header__list-menu-upper a, 
.header__list-menu-middle a,
.header__list-menu-bottom a {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
 
.header__list-menu-middle p,
.header__list-menu-bottom p {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; 
    margin-bottom: 24px;
}

.header__list-menu-upper li, 
.header__list-menu-middle li,
.header__list-menu-bottom li {
    margin-bottom: 16px;
}

.header__menu-button:focus .header__menu-list {
    transform: translateX(0);
}
 
.background-shadowed {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

.header__menu-button:focus ~ .background-shadowed {
    display: block;
}



@media(min-width: 768px) {
    .header-container {
        padding: 16px 12px;
    }

    .header__magnifying-button {
        display: block;
        border: none;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .header-container {
        padding: 30px 36px;
    }

    .header__menu-logo {
        gap: 44px;
    }

    .header__menu-logo .header__explore-button {
        display: block;
        padding: 10px 12px;
        border-radius: 4px;
        background: #0F8277;
        color: #EEE;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%; 
    }

    .header__magnifying-button {
        display: none;
    } 

    .header__explore-button img {
        margin-left: 8px;
    }

    .header__navigation-container {
        display: flex;
        align-content: center;
        gap: 48px;
    }

    .header__navigation-container a {
        color: #000;
        font-family: quicksand; 
        font-size: 16px;
        font-weight: 500;
        line-height: 120%; 
    }
        
    .header__search-input {
        display: flex;
    }

    .header__search-input input {
        padding-left: 12px;
        width: 300px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #5C5C5C;
        color: #5C5C5C;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%; 
    }

    .header__search-input img {
        height: 34px;
        width: 34px;
    }

    .header__magnifying-buttons-container {
        gap: 104px;
        align-items: center;
    }

    .header__menu-logo a {
        color: #000;
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.64px;
    }

    .header__menu-button{
        display: none;
    }

    .header__button-container button  {
        font-size: 16px;
    }

    .header__button-container .header__log-in-button {
        font-size: 16px;
    }
}

                    /* ------------ Main ------------ */

.learn-comfortably-section {
    margin: 75px 8px 64px;
    box-sizing: border-box;
    border-radius: 12px;
    background: #DBF3ED;
    padding: 118.5px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.learn-comfortably-section h1 {
    color: #000;
    font-size: 46px;
    font-weight: 700;
    line-height: 120%; 
}

.learn-comfortably-section p {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%; 
    z-index: 99;
}

.learn-comfortably-section__buttons-container {
     display: flex;    
     flex-direction: column;
     gap: 24px;
}

.learn-comfortably-section__buttons-container button {
    color: #EEE;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%; 
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    background: #0F8277;
}

.learn-comfortably-section__buttons-container .learn-comfortably-section__button-learn-more {
    color: #0F8277;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%; 
    background: none;
    border: 2px solid #0F8277;
}

.learn-comfortably-section__title-image {
    display: none;
}

                    /* ------------ Academic courses ------------ */

.courses-section {
    margin: 64px 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.courses-section__title-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.courses-section__title-text p {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; 
}

.courses-section__title-text h2 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; 
}

.courses-section__title-text h3 {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; 
}

.courses-section__cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.courses-section__card img {
    width: 359px;
}

.courses-section__card-text-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px 16px;
    box-sizing: border-box;
}

.courses-section__card-header-text-container,
.courses-section__card-2-header-text-container,
.courses-section__card-3-header-text-container
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.courses-section__card-header-text-container p,
.courses-section__card-2-header-text-container p,
.courses-section__card-3-header-text-container p {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; 
    margin-left: 84px;
    height: 16px;
    overflow: hidden;
}

.courses-section__card-header-text-container h2,
.courses-section__card-2-header-text-container h2,
.courses-section__card-3-header-text-container h2 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%; 
}

.courses-section__card-text-container .courses-section__card-bottom-text {
    color: #0F8277;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; 
    position: relative; 
    padding-left: 32px;
}

.courses-section__card {
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid #a6a6a6;
    width: 359px;
    box-sizing: border-box;
}

.courses-section__card-2-header-text-container p {
    margin-left: 32px;
}

.courses-section__card-3-header-text-container p {
    margin-left: 58px;
}

.courses-section__card-header-text-container p::before {
    content: '';
    background-image: url("../Assets/icons/dan-logo 1.svg");
    width: 72px;
    height: 20px;
    position: absolute;
    left: 0;
}

.courses-section__card-bottom-text::before {
    content: '';
    background-image: url("../Assets/icons/graduate-cap.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
}

.courses-section__card-2-header-text-container p::before {
    content: '';
    background-image: url("../Assets/icons/eu_logo.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
}

.courses-section__card-3-header-text-container p::before {
    content: '';
    background-image: url("../Assets/icons/logo-prjctr.svg");
    width: 46px;
    height: 20px;
    position: absolute;
    left: 0;
}

                    /* ------------ Popular courses ------------ */

.courses-section__courses-card-header-text-container p {
    margin: 32px 0 0;
}

.courses-section__courses-card-header-text-container p::before {
    top: 0;
}

.courses-section__bottom-text {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    position: relative;
    padding-right: 36px;
    align-self: center;
}

.courses-section__bottom-text::after {
    content: '';
    background-image: url("../Assets/icons/arrow.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
}

                    /* ------------ Topics by category ------------ */

.featured-topics-section {
    margin: 64px 8px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.featured-topics-section__categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    column-gap: 24px;
}

.featured-topics-section__category {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 165px;
}

.featured-topics-section__category-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.featured-topics-section h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; 
}

.featured-topics-section__category h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%; 
}

.featured-topics-section__category-text-wrapper h4 {
    color: #0F8277;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%; 
}

.featured-topics-section__category-text-wrapper p {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; 
}

                    /* ------------- universities and companies section ------------- */

.universities-companies-section {
    display: flex;
    margin-top: 64px;
    padding: 64px 8px;
    flex-direction: column;
    gap: 32px;
    background: #DBF3ED;
}    

.universities-companies-section h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; 
    text-align: center;
}

.universities-companies-section__company-logos-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 4.5px 9px 8.5px;
    align-items: center;
    row-gap: 24px;
}

.universities-companies-section__image-1 {
    width: 118px;
    height: 24px;
}

.universities-companies-section__image-2 {
    width: 62px;
    height: 22px;
    padding: 10px;
}

.universities-companies-section__image-3 {
    width: 46px;
    height: 16px;
    padding: 10px;
}

.universities-companies-section__image-4 {
    width: 33px;
    height: 33px;
}

.universities-companies-section__image-5 {
    width: 36px;
    height: 14px;
}

.universities-companies-section__image-6 {
    width: 75px;
    height: 24px;
}

.universities-companies-section__image-7 {
    width: 92px;
    height: 25px;
}

.universities-companies-section__image-8 {
    width: 91px;
    height: 19px;
}

                    /* -------------- solution for business section -------------- */

.solution-for-business-section {
    margin: 64px 8px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.solution-for-business-section h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; 
}

.solution-for-business-section p {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%; 
}

.solution-for-business-section a {
    color: #EEE;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    border-radius: 4px;
    background: #0F8277;
    padding: 10px 12px;
    text-align: center;
}

.solution-for-business-section__text-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.solution-for-business-section__company-logos-wrapper {
    display: flex;
    padding: 0 5.5px;
    flex-wrap: wrap;
}

.solution-for-business-section__company-logos-wrapper div {
    padding: 10px;
    width: 116px;
    height: 66px;
    box-sizing: border-box;
}

.solution-for-business-section__image-1-container {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.solution-for-business-section__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution-for-business-section__image-2-container {
    border-bottom: 1px solid #BABABA;
}

.solution-for-business-section__image-3-container {
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
    text-align: center;
}

.solution-for-business-section__image-4-container {
    border-right: 1px solid #BABABA;
}

.solution-for-business-section__image-6-container {
    border-left: 1px solid #BABABA;
}

.solution-for-business-section__image-7-container {
    border-right: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
}

.solution-for-business-section__image-8-container {
    border-top: 1px solid #BABABA;
}

.solution-for-business-section__image-9-container {
    border-top: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}

.solution-for-business-section__image-1 {
    width: 88px;
    height: 16px;
}

.solution-for-business-section__image-2 {
    width: 35px;
    height: 33px;
}

.solution-for-business-section__image-3 {
    width: 62px;
    height: 46px;
}

.solution-for-business-section__image-4 {
    width: 77px;
    height: 24px;
}

.solution-for-business-section__image-5 {
    width: 35px;
    height: 30px;
}

.solution-for-business-section__image-6 {
    width: 86px;
    height: 25px;
}

.solution-for-business-section__image-7 {
    width: 86px;
    height: 25px;
}

.solution-for-business-section__image-8 {
    width: 33px;
    height: 32px; 
}

.solution-for-business-section__image-9 {
    width: 86px;
    height: 16px;
}

                    /* ------------ plan career goals ------------ */

.plan-career-goals-section {
    margin-top: 64px;
    padding: 64px 8px 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    background: #DBF3ED;
}

.plan-career-goals-section h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.plan-career-goals-section__cards-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.plan-career-goals-section__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 32px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    width: 359px;
    box-sizing: border-box;
}

.plan-career-goals-section__card h3 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%; 
    text-align: center;
}

.plan-career-goals-section__card p {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; 
    text-align: center;
}

.plan-career-goals-section__card-price {
    display: flex;
    gap: 16px;
    align-items: center;
}

.plan-career-goals-section__card-price p {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; 
}

.plan-career-goals-section__card-price 
.plan-career-goals-section__price-date {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; 
    text-transform: uppercase;
}

.plan-career-goals-section__card button {
    color: #F6FDFF;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    padding: 10px 12px;
    border-radius: 4px;
    background: #0F8277;
    border: none;
    width: 100%;
}



.plan-career-goals-section__card-list {
    margin-top: 12px;
    padding: 32px 0 0 0 ;
    border-top: 2px solid #0F8277;
    width: 304px;
}

.plan-career-goals-section__card-list li {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; 
    padding-left: 32px;
    position: relative;
}

.plan-career-goals-section__list-item:nth-of-type(2n+1) {
    margin-bottom: 16px;
}

.plan-career-goals-section__list-item:nth-child(3) {
    margin-top: 16px;
}

.plan-career-goals-section__card-list li::before {
    content: url("../Assets/icons/bullit.svg");
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
}

.plan-career-goals-section__monthly-card {
    background: #0F8277
}

.plan-career-goals-section__monthly-card h3 {
    color: #FFF;
}

.plan-career-goals-section__monthly-card p {
    color: #FFF;
}

.plan-career-goals-section__monthly-card button {
    color: #FFF;
}

.plan-career-goals-section__monthly-card li {
    color: #FFF;
}
.plan-career-goals-section__card-price .plan-career-goals-section__monthly-card-date {
    color: #FFF;
}

.plan-career-goals-section__monthly-card button {
    border: 2px solid #FFF;
}

.plan-career-goals-section__monthly-card-list {
    border-top: 2px solid #ffff;
}

.plan-career-goals-section__monthly-card-list li::before {
    content: url("../Assets/icons/bullit_1.svg");
}

                    /* ------------ students-photos-section ------------ */

.students-photos-section {
    padding: 0 8px;
}

.students-photos-section h2 {
    margin: 64px 0 32px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; 
}

.students-photos-section__photos-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 100%;
}

.students-photos-section__photos-wrapper img {
    width: 100%;
}

.students-photos-section__long-photo {
    grid-column: span 2;
}

                    /* ------------ Contact us form ------------ */

.contact-us-form {
    margin-top: 64px;
    padding: 64px 8px;
    background: #DBF3ED;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-us-form__title-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-us-form__title-text h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; 
}

.contact-us-form__title-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; 
}

.contact-us-form__input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-us-form__input-container label {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px; 
}

.contact-us-form__input-container input {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
}

.contact-us-form__input-container textarea {
    resize: none;
    padding: 12px;
}

.contact-us-form__input-container input::placeholder {
    color: #8E8E8E;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; 
}
.contact-us-form__input-container textarea::placeholder {
    color: #8E8E8E;    
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; 
}

.contact-us-form__submit-button {
    color: #F6FDFF;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    background: #0F8277;
}


                    /* ------------ Media 768 ------------ */

@media (min-width: 768px) {
    .header-container { 
        padding: 16px 12px;
    }

    .learn-comfortably-section {
        margin: 75px 12px 64px;
        padding: 103px 300px 104px 64px;
        position: relative;
        box-sizing: border-box;
    }

    .learn-comfortably-section__buttons-container {
        flex-direction: row;
    }
   
    .learn-comfortably-section__title-image {
        display: block;
        position: absolute;
        top: 76px;
        right:30px;
        z-index: 98;
        height: 332px;  
    }

                    /* ------------ Academic courses ------------ */

    .courses-section {
        margin: 75px 12px 64px;
        gap: 40px;
    }                

    .courses-section__cards-wrapper {
        flex-direction: row;
        gap: 24px;
    }

    .courses-section__card {
        display: flex;
        flex-direction: column;
        width: 232px;
        height: 390px;
    }

    .courses-section__card img {
        width: 232px;
        height: 180px;
    }

    .courses-section__courses-card img {
        height: 160px;
    }

    .courses-section__card-text-container {
        justify-content: space-between;
        height: 230px;
        gap: 0;
    }

    .courses-section__courses-card-header-text-container {
        height: 230px;
        box-sizing: border-box;
    }
    
                    /* ------------ Topics by category ------------ */

    .featured-topics-section {
        gap: 40px;
        margin: 64px 12px 0;
        }        

    .featured-topics-section__category {
        gap: 32px;
    }

                    /* ------------- universities and companies section ------------- */

    .universities-companies-section {
        padding: 64px 39px;
        gap: 40px;
    }

    .universities-companies-section__company-logos-wrapper {
        gap: 0;
        justify-content: space-between;
    }

                    /* -------------- solution for business section -------------- */

    .solution-for-business-section {
        margin: 64px 12px 0;
        flex-direction: row;
        gap: 24px;
    }

    .solution-for-business-section a {
        width: 118px;
    }

    .solution-for-business-section__text-container {
        
        width: 940px;
    }
    .solution-for-business-section__company-logos-wrapper {
        margin: 31.5px 0;
        padding: 0;
    }

                    /* ------------ plan career goals ------------ */

    .plan-career-goals-section {
        padding: 64px 12px 80px;
    }

    .plan-career-goals-section__cards-container {
        flex-direction: row;
        gap: 24px;
    }

    .plan-career-goals-section__card {
        width: 232px;  
        gap: 27px;
    }

    .plan-career-goals-section__card-1-button {
        margin-bottom: 40px;
    }

    .plan-career-goals-section__card-3-button {
        margin-bottom: 35px;
    }

    .plan-career-goals-section__card-list {
        width: 168px;
    }
   
                /* ------------ Students photos section ------------ */

    .students-photos-section {
        padding: 0 12px;
    }
    
    .students-photos-section h2 {
        margin: 64px 0 40px;
    }
    
    .students-photos-section__photos-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .students-photos-section__photos-wrapper img {
        width: 100%;
    }
    
    .students-photos-section__long-photo {
        grid-column: unset;
    }

    .students-photos-section__long-photo-768 {
        grid-column: 2 /  span 2;
        grid-row: 1 / span 2;
    }

    .students-photos-section__item-2 {
        grid-row: 2;
    }

                        /* ------------ Contact us form ------------ */

    .contact-us-form {
        padding-left: 12px;
        padding-right: 12px;
    }

    .contact-us-form__submit-button {
        width: 168px;
        box-sizing: border-box;
    }

}
                    /* ------------ 1200px ------------ */
@media (min-width: 1200px) {
    .header-container { 
        padding: 30px 16px;
    }

    .learn-comfortably-section {
        margin: 100px 36px 64px;
        height: 602px;
        padding: 170px 674px 184px 110px;
    }

    .learn-comfortably-section__title-image {
        height: 533px;
        top: 39px;
    }

    .learn-comfortably-section h1 {
        font-size: 56px;
    }

    .learn-comfortably-section p {
        font-size: 22px;
    }
    
    .learn-comfortably-section__buttons-container {
        font-size: 16px;
    }

                    /* ------------ Academic courses ------------ */
    
    .courses-section {
        margin: 100px 36px 80px;
    }

    .courses-section__card {
        width: 416px;
        height: 488px;
    }

    .courses-section__card img {
        width: 100%;
        height: 278px;
    }

    .courses-section__card-text-container {
        height: 210px;
    }

    .courses-section__card-header-text-container p,
    .courses-section__card-2-header-text-container p,
    .courses-section__card-3-header-text-container p {
        font-size: 16px;    
    }

    .courses-section__card-header-text-container h2,
    .courses-section__card-2-header-text-container h2,
    .courses-section__card-3-header-text-container h2 {
        font-size: 24px;        
    }

    .courses-section__bottom-text {
        font-size: 20px;
    }

                   /* ------------ Topics by category ------------ */

    .featured-topics-section {
        margin: 80px 36px 0;
    }         

    .featured-topics-section__category {
        width: 306px;
        box-sizing: border-box;
    } 

    .featured-topics-section {
        font-size: 40px;     
    }

    .featured-topics-section__category h3 {
        font-size: 24px;
    }
    
    .featured-topics-section__category-text-wrapper h4 {
        font-size: 20px; 
    }
    
    .featured-topics-section__category-text-wrapper p {
        font-size: 16px;
    } 
    
                    /* ------------- universities and companies section ------------- */

    .universities-companies-section {
        padding: 80px 36px;
        gap: 60px;
    }

    .universities-companies-section h2 {
        font-size: 40px;
    }

    .universities-companies-section__image-1 {
        width: 178px;
        height: 36px;
    }
    
    .universities-companies-section__image-2 {
        width: 122px;
        height: 42px;
        padding: 10px;
    }
    
    .universities-companies-section__image-3 {
        width: 106px;
        height: 36px;
        padding: 10px;
    }
    
    .universities-companies-section__image-4 {
        width: 63px;
        height: 66px;
    }
    
    .universities-companies-section__image-5 {
        width: 97px;
        height: 37px;
    }
    
    .universities-companies-section__image-6 {
        width: 136px;
        height: 44px;
    }
    
    .universities-companies-section__image-7 {
        width: 152px;
        height: 40px;
    }
    
    .universities-companies-section__image-8 {
        width: 151px;
        height: 33px;
    }
    
                    /* -------------- solution for business section -------------- */

    .solution-for-business-section {
        margin: 80px 36px 0;
        gap: 72px;
    }

    .solution-for-business-section__text-container h2 {
        font-size: 40px;
    }

    .solution-for-business-section__text-container  p {
        font-size: 22px;
        width: 568px;
    }

    .solution-for-business-section__text-container  a {
        font-size: 16px;
    }

    .solution-for-business-section__text-container {
        margin-top: 67.5px;
        width: 1870px;
    }

    .solution-for-business-section__company-logos-wrapper div {
        width: 196px;
        height: 136px;
    }
    
    .solution-for-business-section__image-1 {
        width: 150px;
        height: 27px;
    }
    
    .solution-for-business-section__image-2 {
        width: 62px;
        height: 62px;
    }
    
      .solution-for-business-section__image-3 {
        width: 111px;
        height: 80px;
    }
    
      .solution-for-business-section__image-4 {
        width: 150px;
        height: 48px;
    }
    
    .solution-for-business-section__image-5 {
        width: 63px;
        height: 57px;    
    }
    
    .solution-for-business-section__image-6 {
        width: 151px;
        height: 42px;
    }
    
    .solution-for-business-section__image-7 {
        width: 150px;
        height: 34px;
    }
    
    .solution-for-business-section__image-8 {
        width: 61px;
        height: 60px;   
    }
    
    .solution-for-business-section__image-9 {
        width: 150px;
        height: 29px;
    }

    .solution-for-business-section__company-logos-wrapper {
        margin: 0;
    }

                    /* ------------ plan career goals ------------ */

    .plan-career-goals-section {
        padding: 80px 36px 100px;
        gap: 40px;
    }

    .plan-career-goals-section h2 {
        font-size: 40px;
    }

    .plan-career-goals-section__card {
        padding: 56px;
        width: 416px;
    }

    .plan-career-goals-section__card-list {
        width: 304px;
    }

    .plan-career-goals-section__card h3 {
        font-size: 24px;
    }

    .plan-career-goals-section__card p {
        font-size: 16px;
    }

    .plan-career-goals-section__card-price p {
        font-size: 40px;
    }

    .plan-career-goals-section__card-price 
    .plan-career-goals-section__price-date {
        font-size: 16px;
    }

    .plan-career-goals-section__card button {
        width: 123px;
        font-size: 18px;
        padding: 10px 12px;
        box-sizing: border-box;
        letter-spacing: 0.72px;
    }

    .plan-career-goals-section__card-1-button {
        margin-bottom: 50px;
    }

    .plan-career-goals-section__card-3-button {
        margin-bottom: 25px;
    }

                    /* ------------ Students photo section ------------ */

    .students-photos-section {
        padding: 0 36px;
    }
    
    .students-photos-section h2 {
        margin: 80px 0 40px;
    }
   
                    /* ------------ Contact us form ------------ */

    .contact-us-form {
        margin-top: 100.5px;
        padding: 80px 256px;
    }

    .contact-us-form__title-text h2 {
        font-size: 40px;
    }

    .contact-us-form__title-text p {
        font-size: 20px;
    }

    .contact-us-form__submit-button {
        font-size: 18px;
        letter-spacing: 0.72px; 
        width: 196px;
    }
}

@media(min-width: 1215px) {/*Костиль, бо з 1200 по 1215 дуже некрасивий Header*/
    .header-container { 
        padding: 30px 36px;
    }
}

                    /* ------------- Footer ------------- */

footer {
font-family: quicksand;
}

.footer-wrapper {
    padding: 32px 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.footer-wrapper__description-text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
}

.footer-wrapper__description-text-container h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: 0.44px;
}

.footer-wrapper__description-text-container p {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; 
    align-content: center;
}

.footer-wrapper__social-media-text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.footer-wrapper__social-media-links-container {
    display: flex;
    gap: 24px;
}

.footer-wrapper__social-media-text-container {
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; 
}

                /* ------------ Media 768 ------------ */

@media (min-width: 768px){
    .footer-wrapper {
        padding-left: 12px;
        padding-right: 12px;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-wrapper__description-text-container {
        width: 306px;
        align-items: flex-start;
        gap: 20px;
        text-align: start;
    }
    
    .footer-wrapper__social-media-text-container {
        justify-content: space-between;
        align-items: flex-end;
        width: 306px;
    }

    .footer-wrapper__social-media-text-container p {
        text-align: start;
    }
}

@media (min-width: 1200px) {
    .footer-wrapper {
        padding: 64px 36px;
    }

    .footer-wrapper__description-text-container h2 {
        font-size: 32px;
        letter-spacing: 0.64px;
    }

    .footer-wrapper__description-text-container p {
        font-size: 16px;
    }

    .footer-wrapper__social-media-text-container p {
        font-size: 16px;
    }

    .footer-wrapper__social-media-links-container img {
        width: 32px;
    }

    .footer-wrapper__social-media-text-container {
        gap: 60px;
    }
}