.title {
    text-align: center;
}

.counterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & button {
        width: 50px;
        padding: 10px;
    }
}

.buttonContainer {
    display: flex;
    gap: 20px;
}